body {
  display: block;
  padding: 5rem;
}

.input1 {
  margin: auto;
  padding: 0.7rem;
  display: block;
  /* text-align: start; */
  background-color: gray;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin-bottom: 1%;
  font-size: large;
  font-family: sans-serif;
}

.input2 {
  margin: auto;
  padding: 0.7rem;
  display: block;
  /* text-align: start; */
  background-color: gray;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: large;
  font-family: sans-serif;
}

.sub-btn {
  font-family: cursive;
  padding: 1rem;
  border-radius: 100%;
  color: black;
  font-weight: bolder;
  background: lightgrey;
  margin: 20px auto;
  display: block;
  font-size: large;
}

.container {
  padding: 1rem;
  display: block;
}
